Automatisation/webhook_alert.json
{
  "name": "webhook_alert",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "alert",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        32,
        0
      ],
      "id": "bfb7a66a-4bc9-40db-8dc7-790a0b412e30",
      "name": "Webhook",
      "webhookId": "86265a65-5386-4683-9d13-ff85b51ac085"
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://iris-nginx/alerts/add",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "dfirIrisApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "alert_title",
              "value": "={{ $json.body.result.alert_title }}"
            },
            {
              "name": "alert_description",
              "value": "={{ $json.body.result.alert_description }}"
            },
            {
              "name": "alert_source",
              "value": "={{ $json.body.result.host }}:{{ $json.body.result._sourcetype }}"
            },
            {
              "name": "alert_source_ref",
              "value": "="
            },
            {
              "name": "alert_severity_id",
              "value": "={{ $json.body.alert_severity_id }}"
            },
            {
              "name": "alert_status_id",
              "value": "2"
            },
            {
              "name": "alert_source_event_time",
              "value": "={{ $json.body.UtcTime }}"
            },
            {
              "name": "alert_customer_id",
              "value": "1"
            },
            {
              "name": "alert_source_link",
              "value": "={{ $json.body.results_link }}"
            },
            {
              "name": "alert_source_ref",
              "value": "={{ $json.body.alert_source_ref }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        },
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        0
      ],
      "id": "164f103f-52a1-4d88-98c9-606f713374e6",
      "name": "DFIR-IRIS HTTP Request",
      "extendsCredential": "dfirIrisApi",
      "credentials": {
        "dfirIrisApi": {
          "id": "Z8TDwM0jBwst3Gg3",
          "name": "DFIR-IRIS account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import ipaddress\nimport datetime\n\nfor item in _input.all():\n    # --- Safe AbuseIPDB link ---\n    def abuse_link(ip):\n        try:\n            if ip and not ipaddress.ip_address(ip).is_private:\n                return f'<a href=\"https://www.abuseipdb.com/check/{ip}\" target=\"_blank\">{ip}</a>'\n        except Exception:\n            pass\n        return ip or \"N/A\"\n\n    body = item.json.get(\"body\", {})\n    result = body.get(\"result\", {})\n\n    # Correction du results_link\n    raw_link = body.get(\"results_link\")\n    if raw_link:\n        corrected = raw_link.replace(\"07055f1f313d:8000\", \"100.67.56.61:8000\").strip()\n        body[\"results_link\"] = corrected\n\n    # Récupération SAFE des champs \n    info = result.get(\"info\", {})\n    task = info.get(\"task\", {})\n\n    user = (\n        task.get(\"user\") or \n        result.get(\"User\") or \n        result.get(\"user\")\n    )\n\n    command = (\n        result.get(\"data\", {}).get(\"command_line\") or\n        result.get(\"data.command_line\")\n    )\n\n    src_ip = result.get(\"data\", {}).get(\"src\", {}).get(\"ip\") or result.get(\"data.src.ip\")\n    src_port = result.get(\"data\", {}).get(\"src\", {}).get(\"port\") or result.get(\"data.src.port\")\n\n    dst_ip = result.get(\"data\", {}).get(\"dst\", {}).get(\"ip\") or result.get(\"data.dst.ip\")\n    dst_port = result.get(\"data\", {}).get(\"dst\", {}).get(\"port\") or result.get(\"data.dst.port\")\n    list_cmd_line = result.get(\"list_cmd_line\")\n    # Construction automatique du HTML : on affiche seulement si NON VIDE\n    lines = []\n\n    if command:\n        lines.append(f\"<li><strong>Command line:</strong> {command}</li>\")\n\n    if user:\n        lines.append(f\"<li><strong>User:</strong> {user}</li>\")\n    if list_cmd_line:\n        lines.append(f\"<li><strong>list_cmd_line:</strong> {list_cmd_line}</li>\")\n    if src_ip or src_port:\n        lines.append(f\"<li><strong>Source:</strong> {abuse_link(src_ip)}:{src_port or 'N/A'}</li>\")\n\n    if dst_ip or dst_port:\n        lines.append(f\"<li><strong>Destination:</strong> {abuse_link(dst_ip)}:{dst_port or 'N/A'}</li>\")\n    \n    for f in [\"EventCode\", \"EventType\", \"TargetObject\"]:\n        if result.get(f):\n            lines.append(f\"<li><strong>{f}:</strong> {result[f]}</li>\")\n\n    if lines:\n        body[\"alert_source_ref\"] = \"<ul>\\n\" + \"\\n\".join(lines) + \"\\n</ul>\"\n    else:\n        body[\"alert_source_ref\"] = \"<p>Aucune information disponible.</p>\"\n\n    # Titre dynamique\n    search_name = body.get(\"search_name\", \"Detection\")\n    host = result.get(\"host\", \"Unknown Host\")\n    result[\"alert_title\"] = f\"{search_name} sur {host}\"\n\n    # Gestion SAFE du UtcTime (fallback multiple)\n    body[\"UtcTime\"] = (\n        info.get(\"utc_time\") or\n        result.get(\"UtcTime\") or\n        result.get(\"event_time\") or\n        result.get(\"_time\") or\n        datetime.datetime.utcnow().isoformat()\n    )\n\n    # Gestion de la sévérité (fallback si absent)\n    body[\"alert_severity_id\"] = (\n        result.get(\"alert_severity_id\") or \n        body.get(\"alert_severity_id\") or \n        2  # fallback safe\n    )\n\n    body[\"result\"] = result\n    item.json[\"body\"] = body\n\nreturn _input.all()\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        0
      ],
      "id": "a9037d57-3f7a-4d31-abe5-e51fedb77108",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "08b680d6-2fc4-4d58-b745-324809a10ced",
              "leftValue": "={{ $json.body.result.alert_severity_id }}",
              "rightValue": "6",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        -304
      ],
      "id": "280718cc-e413-4a7d-87c4-67b2f5f29f99",
      "name": "If"
    },
    {
      "parameters": {
        "fromEmail": "projetgr604@gmail.com",
        "toEmail": "projetgr604@gmail.com",
        "subject": "=Critical Alert: {{$json.body.result.alert_title}}",
        "html": "=<div style=\"font-family: Arial, sans-serif; background: #f4f4f4; border-radius: 12px; padding: 18px; border-left: 6px solid #d9534f; color: #333;\">\n  \n  <h1 style=\"font-size: 22px; font-weight: bold; margin-bottom: 6px; color: #c9302c;\">\n    🚨 Alerte Critique Déclenchée\n  </h1>\n\n  <p style=\"font-size: 15px; line-height: 1.5;\">\n    Une alerte critique a été déclenchée le \n    <strong>{{ $json.body.result[\"info.utc_time\"] || \"N/A\" }}</strong>,\n    concernant l’hôte \n    <strong>{{ $json.body.result.host || \"N/A\" }}</strong>\n    pour le client\n    <strong>DunderMifflin</strong>.\n  </p>\n\n  <div style=\"margin-top: 14px;\">\n    <span style=\"font-weight: bold;\">Titre de l’alerte :</span><br>\n    {{ $json.body.result.alert_title }}\n  </div>\n\n  <div style=\"margin-top: 14px;\">\n    <span style=\"font-weight: bold;\">Description :</span><br>\n    {{ $json.body.result.alert_description }}\n  </div>\n\n  <div style=\"margin-top: 14px; font-size: 15px;\">\n    Merci de traiter cette alerte <strong>dans les plus brefs délais</strong> \n    afin de garantir la continuité et la sécurité du service.\n  </div>\n\n  <div style=\"margin-top: 18px;\">\n    <a href=\"{{ $json.body.results_link }}\" target=\"_blank\"\n       style=\"background:#0275d8; color:#ffffff; padding:10px 16px; border-radius:6px; text-decoration:none; font-size:15px; display:inline-block;\">\n       🔎 Ouvrir l’alerte dans SPLUNK\n    </a>\n  </div>\n\n</div>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        848,
        -336
      ],
      "id": "974b2ed2-4121-4336-ab60-ea82d4af2c4a",
      "name": "Send email",
      "webhookId": "e0abcea7-a559-4fe3-bfec-164c64d4aede",
      "credentials": {
        "smtp": {
          "id": "JNKzOrjXY6081W5e",
          "name": "gmail"
        }
      }
    },
    {
      "parameters": {
        "content": "## Alerte Critique – Notification Automatisée\n",
        "height": 256,
        "width": 736
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        432,
        -400
      ],
      "typeVersion": 1,
      "id": "d01f0d23-5b4d-4f08-8f61-2363383c246a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## SPLUNK to IRIS\n",
        "height": 288,
        "width": 976,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -96
      ],
      "typeVersion": 1,
      "id": "5d52ea41-654f-439d-a034-be0eda35c4c8",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "DFIR-IRIS HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6cb192dc-24ff-405a-b98c-bf654ba50bed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "515868e636a691e96026934c5a1f44ca0ff9e4615609ee294de4a6ee5d27ee0b"
  },
  "id": "51wBBZHDNt8SMlNw",
  "tags": []
}